<div class=" col-lg-10" >
    <div class="dashboard-content">
       <div class="user-management-data">
		    <h3> User Management</h3>
		    <p class="summary text-right">Displaying 10 of 10 records</p>
        <div class="search-container pull-right col-lg-4 col-md-6 col-sm-8">
            <input [(ngModel)]="search" class="form-control search-input" />
            <button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <table class="items table table-striped ">
			    <tr>
		        <th>#</th>
            <th>First Name <a class="sort-icon"></a></th>
            <th>Last Name <a class="sort-icon"></a></th>
            <th>Email <a class="sort-icon"></a></th>
            <th>Contact Number <a class="sort-icon"></a></th>
  					<th class="action" style="width:5%">Action</th>
			    </tr>
          <tr>
			      <!-- <td></td>
  					<td><input [(ngModel)]="search" /> <button class="search"><i class="fa fa-search" aria-hidden="true"></i></button></td>
		        <td><input [(ngModel)]="search" /><button class="search"><i class="fa fa-search" aria-hidden="true"></i></button></td>
            <td><input [(ngModel)]="search" /><button class="search"><i class="fa fa-search" aria-hidden="true"></i></button></td>
            <td><input [(ngModel)]="search" /><button class="search"><i class="fa fa-search" aria-hidden="true"></i></button></td>
		        <td class="clear"><button class="clear" >Clear</button></td> -->
			    </tr>
          <tr *ngFor="let user of userList | filter: search; let i = index" >
			    	<td>{{i + 1}}</td>
		        <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email_id}}</td>
		        <td>{{user.contact_number}}</td>
		        <td class="view">
	            <a routerLink="./../userUpdate/{{ user._id}}" title="Update"><i class="fa fa-edit" aria-hidden="true"></i></a>
              <a routerLink="./../userView/{{ user._id}}" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
		        </td>
			    </tr>
        </table>
    </div>
  </div>
</div>
